:root {
    --bg-color: #000000;
    --second-bg-color: #49A646;
    --text-color: #ffffff;
    --second-text-color: #7ab387;
    --terciary-bg-color:#a3cec0; 

    --icon-bg-color: #fff;
    --img-logo: url('../img/microphone.png')
  
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url("./img/moon-star.svg");
    
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(3, 0, 0, 0.308);
    
    --button-text-color: #ffffff;
    --button-color: #5a8f7f;
    --button-text-color-hover: #e0d5d5;
    --button-color-hover: #3c7160;

    
    --border-form: none;
    --bg-form: rgba(24, 24, 24, 0.726);
  }
  
  .light {
    --bg-color: #ffffff;
    --second-bg-color: #03A63C;
    
    --text-color: #000000;
    --second-text-color: #007566;
    --card-bg-color: #265C4B;

    --icon-bg-color: #000;
    --img-logo: url('../img/microphone1.png')
  
    --highlight-color: rgba(0, 0, 0, 0.25);
    --switch-bg-url: url("./img/sun.svg");
    
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(3, 0, 0, 0.308);
  
  
    --button-text-color-hover: #000000;
  
    --border-form: 2px solid rgb(98, 130, 103);
    --bg-form: rgba(255, 255, 255, 0.726);
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--first-font);
  }




*{
    color: var(--second-text-color);
}

#theme-button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--icon-bg-color);
}

#logo {
    background-image: url('../img/microphone.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    margin-right: 15px;
}


a, i{
    transition: .5s;
    text-decoration: none;
}

.secondary-color {
    color: var(--second-text-color);
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 7px 18px;
    border-radius: 40px;
}

.btn:hover{
    background-color: var(--button-color-hover);
    color: var(--button-text-color);
}

/* HEADER */
#header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #CCC;
}

#header p{
    margin-bottom: 0;
}

#logo-container{
    display: flex;
    justify-content: center;
}



/* NAVBAR */
#navbar{
    padding: 10px;
    margin: 10px auto;
}

#navbar a{
    width: 80px;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

#navbar a:hover{
    color: var(--second-text-color);
}


/* MAIN IMAGE */
.main-image{
    height: 400px;
    background-image: url('../img/irmaos.jpg');
    margin-bottom: 30px;
    position: relative;
}

.main-image-info {
    background-color: #fff;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

/* GALLERY */
#img-2{
    background-image: url('../img/antigo.png');
}

#img-3{
    background-image: url('../img/season1.png');
}

#img-4{
    background-image: url('../img/theodorobonecos.jpg');
}

#img-5{
    background-image: url('../img/theodoretestemunha.jpg');
}

#img-6{
    background-image: url('../img/manipulador.avif');
}

#gallery-container h1{
    text-align: center;
}

#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-xs-12{
    margin-bottom: 50px;
}

.small-image-container{
    height: 250px;
    margin-bottom: 20px;
}

/* FOOTER */
footer{
    border-top: 1px solid #CCC;
    height: 250px;
    padding: 30px;
}

footer i{
    font-size: 20px;
}

#social-icons-container{
    padding: 25px;
}

#social-icons-container div{
    text-align: center;
}

footer p{
    text-align: center;
    margin: 20px;
}

a:hover i{
    color: var(--second-bg-color);
}